/**
 * Import External fonts (eg. google) FIRST
 *
 * Good Google Alternatives:
 * - https://fonts.bunny.net
 * - https://fonts.coollabs.io
 */
@import url(https://fonts.bunny.net/css?family=alegreya-sans-sc:100,100i,300,300i,400,400i,500,500i,700,700i,800,800i,900,900i);
@import url('https://api.fonts.coollabs.io/css2?family=Roboto&display=swap');

/**
 * Import TailwindCSS
 */
@import "tailwindcss";

/**
 * Define a custom Theme
 *
 *
 * check https://components.dev.screencraft.net.au for more colours
 *
 * Articles on OKLCH Colour Space:
 *      https://evilmartians.com/chronicles/oklch-in-css-why-quit-rgb-hsl
 *      https://evilmartians.com/chronicles/oklch-in-css-why-quit-rgb-hsl
 */

@theme {
    --font-sans: 'Roboto', "sans-serif";
    --font-display: 'Alegreya Sans SC', "sans-serif";
    --breakpoint-3xl: 120rem;

    /* Define the Prussian Blue colour scale */
    --colour-prussianblue-50: oklch(from #EEF9FF l c h);
    --colour-prussianblue-100: oklch(from #DCF3FF l c h);
    --colour-prussianblue-200: oklch(from #B2EAFF l c h);
    --colour-prussianblue-300: oklch(from #6DDBFF l c h);
    --colour-prussianblue-400: oklch(from #20C9FF l c h);
    --colour-prussianblue-500: oklch(from #00B2FF l c h);
    --colour-prussianblue-600: oklch(from #008FDF l c h);
    --colour-prussianblue-700: oklch(from #0071B4 l c h);
    --colour-prussianblue-800: oklch(from #006095 l c h);
    --colour-prussianblue-900: oklch(from #004F7A l c h);
    --colour-prussianblue-950: oklch(from #003150 l c h);
}

/* Define Prussian Blue for Text, Backgrounds and Borders */
@utility text-prussianblue-* {
    color: --value(--colour-prussianblue-*);
}

@utility bg-prussianblue-* {
    background-color: --value(--colour-prussianblue-*);
}

@utility border-prussianblue-* {
    border-color: --value(--colour-prussianblue-*);
}

/* Define a Default Button CSS class (.btn) for use throughout the application */
@utility btn {
    @apply px-2 py-1 m-1 text-xs font-medium align-middle;
    @apply bg-gray-200 hover:bg-gray-700;
    @apply text-gray-700 hover:text-gray-200;
    @apply border border-gray-400 hover:border-gray-900;
    @apply hover:shadow-none shadow;
    @apply rounded ;
    @apply transition ease-in-out duration-500;
}

@utility description_h1 {
    @apply text-2xl font-black;
    @apply mb-4 mt-6;
}

@utility description_h2 {
    @apply text-2xl font-bold;
    @apply mb-2 mt-4;
}

@utility description_h3 {
    @apply text-xl underline;
    @apply mb-2 mt-4;
}

@utility description_list {
    @apply list-inside;
    @apply my-2;
}

/* Add Blue Underline for Links */
@utility description_a {
    @apply text-prussianblue-800;
    @apply underline underline-offset-2;
}


/* Define Additional Button CSS classes that extend the `.btn` to use its own colours and other formats */
@layer components {
    /* Button Component */
    .btn-primary {
        @apply btn;
        @apply bg-prussianblue-200 hover:bg-prussianblue-700;
        @apply text-prussianblue-700 hover:text-prussianblue-200;
        @apply border border-prussianblue-700 hover:border-prussianblue-200;
    }

    .btn-secondary {
        @apply btn;
        @apply bg-pink-200 hover:bg-pink-700;
        @apply text-pink-700 hover:text-pink-200;
        @apply border border-pink-700 hover:border-pink-200;
    }


    /* Make the editor height larger to show this is a multiline editor */
    .ck-editor__editable_inline {
        @apply min-h-60
    }

    /* Editor & Description display areas */
    .ck-content h1, .description h1 {
        @apply description_h1;
        @apply text-gray-800;
    }

    .ck-content h2, .description h2 {
        @apply description_h2;
    }

    .ck-content h3, .description h3 {
        @apply description_h3;
    }

    .ck-content a, .description a {
        @apply description_a;
    }

.ck-content p, .description p {
        @apply my-2;
    }

    .ck-content ul, .ck-content ol, .description ul, .description ol {
        @apply description_list;
    }

    .ck-content ul li, .description ul li {
        @apply list-disc list-item ml-2;
    }
    .ck-content ol li, .description ol li {
        @apply list-decimal list-item ml-2;
    }


}